.cover {
  width: 100%;
}

.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.image-stack__item--top {
  grid-column: 1 / span 8;
  grid-row: 1; // must be on the same row as the other image
  padding-top: 20%; // this pushes the image down, and keeps it proportional as it resizes
  z-index: 1; // make this image render on top of the bottom
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1; // make this image be on the same row
}
.coin-image {
  width: 30px;
  height: 100%;
}

// Main header styles
.main-header {
  img {
    width: 900px;
    height: 100%;
    border-radius: 16px;
  }

  width: 100%;
  margin-bottom: 75px;

  // Navbar
  &-navbar {
    display: flex;
    justify-content: space-between;
    @include flexbox;
    margin-bottom: 50px;

    &_flex-row {
      display: flex;
      justify-content: space-between;
    }
    &__logo {
      width: 40%;
      max-width: 300px;
      margin-right: auto;
    }
    &_relative-container {
      @include flexbox;
      position: relative;
      margin-right: 20px;
      align-items: center;
      align-self: center;
    }

    &_relative-row {
      @include flexbox;
      align-items: center;
      position: relative;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &__app {
      width: 50%;
      @include flexbox($jtf: space-between);

      &__login-btn {
        width: 35%;
        color: #fff;
        font-size: 2.3rem;
        display: inline-block;
        font: bold;
        text-align: center;
        text-decoration: none;
        border-right: 1px solid rgba(255, 255, 255, 0.664);
        transition: color 0.3s ease-in;

        &:hover {
          color: lighten($btn-bg-color, 90%);
        }
        &:active {
          color: lighten($bitcoin-icon-bg-color, 10%);
        }
      }
      &__link-btn {
        @include button($width: 60%, $fnt-size: 1.3rem);
        max-width: 140px;
        height: 45px;
        width: 350px;
        font-size: 2.3rem;
        font: bold;

        transition: all 0.3s ease-in;

        &:hover {
          background-color: lighten($btn-bg-color, 10%);
          // background-color: darken($btn-bg-color, 30%);
          transform: scale(1.15);
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
    &__nav {
      border-radius: 16px;
      height: 32px;
      margin-right: 10px;
      align-self: center;
      align-items: flex-end;
      display: flex;

      &_bg {
        /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
        position: absolute;
        margin-right: 10px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 99;

        /* Pull the background 70px higher to the same place as #bg's */
        background-position: center -70px;

        -webkit-filter: blur(10px);
        filter: url("/media/blur.svg#blur");
        filter: blur(10px);
      }

      &_layer {
        max-width: 900px;
        /* Put this on top of the blurred layer */
        position: relative;
        align-items: center;
        z-index: 100;
        padding: 2px;
        background: $background-color-box;
        order: 2;
        width: 100%;
        list-style-type: none;
        border-radius: 16px;
        height: 45px;
        margin-right: 10px;
      }

      &__item {
        color: #fff;
        padding: 3px;
        position: relative;
        text-align: center;
        font-size: 1.4rem;
        width: 25%;
        // border-right: 1px solid rgb(255, 255, 255);
        margin-right: 7px;
        margin-left: 7px;
        font-weight: bold;
        &:hover {
          color: lighten($btn-bg-color, 20%);
          background: rgba(255, 255, 255, 0.75);
          border-radius: 16px;
          // border-right: 3px solid  lighten($btn-bg-color, 20%);
        }
      }
      &__item-end {
        color: #fff;
        font-size: 1.4rem;
        padding: 3px;
        margin-right: 7px;
        text-align: center;
        width: 25%;
        position: relative;
        margin-left: 7px;
        font-weight: bold;
        &:hover {
          color: lighten($btn-bg-color, 20%);
          background: rgba(255, 255, 255, 0.75);
          border-radius: 16px;
          // border-right: 3px solid  lighten($btn-bg-color, 20%);
        }
      }
      &__link {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        transition: color 0.3s ease-in;

        &:hover {
          color: lighten($btn-bg-color, 20%);
          // border-right: 3px solid  lighten($btn-bg-color, 20%);
        }
        &:active {
          color: lighten($bitcoin-icon-bg-color, 10%);
        }
      }
    }
  }
  //   Header content

  &-content-principal {
    width: 1100px;
    @include flexbox;
    text-align: center;
    z-index: 100;

    &_header-content-bg {
      /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      z-index: 99;
      opacity: 0.5;
      /* Pull the background 70px higher to the same place as #bg's */
      background-position: center -70px;

      -webkit-filter: blur(10px);
      filter: url("/media/blur.svg#blur");
      filter: blur(10px);
    }

    &_header-content {
      /* Put this on top of the blurred layer */
      position: relative;
      align-self: center;
      max-width: 400px;
      z-index: 100;
      padding: 10px;

      border: 1px solid black;
      @include flexbox($jtf: space-evenly);
      border-radius: 16px;
      background: rgba(54, 54, 54, 0.75);
    }

    &_gen-box {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: center;
      gap: 20px;

      img {
        align-self: center;
      }
      &_img-box {
        @include flexbox($jtf: space-between);
        flex-direction: column;
        align-self: center;
        margin-left: 50px;
        width: 100%;
        // border-width: 0 0 100px 100px;
        height: 100%;
        background: rgba(214, 214, 214, 0.795);
        border-top: 4px solid rgb(99, 99, 99);
        border-bottom: 4px solid rgb(99, 99, 99);
        padding: 10px;
        border-radius: 16px;
        &_description-top {
          margin-bottom: 5px;
          margin-right: 0px;
          text-align: right;
          color: rgb(43, 43, 43);
          // p {
          font-size: 1.9rem;
          span {
            color: $emphasize-txt-color;
          }
          // }
        }
        &_description-bottom {
          margin-top: 5px;
          margin-left: 0px;
          color: rgb(43, 43, 43);
          // p {
          text-align: left;
          span {
            color: $emphasize-txt-color;
          }
          font-size: 1.9rem;
          // }
        }
      }
    }

    &__title {
      margin-top: 40px;
      font-size: 3rem;
      span {
        color: $emphasize-txt-color;
      }
    }
    &__description {
      font-size: 1.4rem;
      margin: 25px auto;
      font-weight: 400;
    }
    &__btn {
      @include button;

      transition: all 0.3s ease-in;

      &:hover {
        background-color: lighten($btn-bg-color, 10%);
      }
      &:active {
        transform: scale(0.95);
        background-color: darken($btn-bg-color, 30%);
      }
      i {
        margin-left: 10px;
        color: $btn-bg-color;
        background-color: #fff;
        border-radius: 50%;
        padding: 5px;
        width: 25px;
      }
    }
    &__illustration {
      width: 100%;
    }
    // Discount section
    .discount-section {
      width: 80%;
      @include flexbox($jtf: space-between);
      border-radius: 30px;
      padding: 5px 0px;
      animation: beat 1s 2s ease-in-out alternate 15;

      @keyframes beat {
        from {
          transform: scale(1.05);
        }
        to {
          transform: scale(0.95);
        }
      }
      &__discount {
        display: inline-block;
        padding: 5px;
        margin-left: 5px;
        border-radius: 30px;
        width: 30%;
        font-size: 1rem;
        background-color: #fff;
        color: $footer-bg-color;
        font-weight: 500;
      }
      &__description {
        font-size: 1rem;
        margin-right: 10px;
      }
    }
    // Discount section
    .illustration-section {
      width: 1000px;
      @include flexbox($jtf: space-between);
      border-radius: 30px;
    }
  }
}

.main-header-content-container {
  width: 100%;
  @include flexbox;
}
.header-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
