// Main content styles
.main-content {
  width: 100%;

  span {
    color: lighten($emphasize-txt-color, 90%);
  }

  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
  }

  // Why us section
  .why-us-wrapper {
    width: 100%;
    @include flexbox;

    // Stats section
    .stats-section {
      width: 80%;
      @include flexbox($flow: column nowrap);
      margin-bottom: 75px;
      &__reference {
        width: 50%;
        margin-bottom: 40px;
        text-align: center;

        .fas {
          color: $btn-bg-color;
          background-color: lighten($footer-bg-color, 90%);
          font-size: 35px;
          padding: 20px;
          border-radius: 50%;
        }
        &__title {
          font-size: 2.5rem;
          // width: 100%;
          margin: 15px auto;
        }
        &__description {
          font-size: 1.4rem;
        }
      }
    }
    // Why us content
    .why-us-section {
      width: 80%;
      max-width: 400px;
      margin-bottom: 75px;

      &__content {
        width: 100%;
        text-align: center;

        &__title {
          font-size: 2.5rem;
          span {
            color: lighten($ethereum-icon-bg-color, 40%);
          }
        }
        &__description {
          font-size: 1.4rem;
          margin: 20px auto;
        }
        &__btn {
          @include button;
          margin: 20px auto 10px;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }
      &__illustration {
        width: 800px;
        animation-delay: 8s;
        animation-timing-function: ease-in-out;
        animation-duration: 2.5s;
      }
    }
    // Benefits section
    .benefits-section {
      width: 80%;
      max-width: 400px;
      text-align: center;

      &__title {
        font-size: 2.5rem;
        span {
          color: lighten($ethereum-icon-bg-color, 10%);
        }
      }
      &__description {
        font-size: 1.4rem;
        margin-top: 30px;
      }
      .card-info {
        width: 100%;
        max-width: 400px;
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        padding: 25px 15px;
        transform: translateY(50%);
        text-align: left;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

        &__title {
          font-size: 1.4rem;
          color: $ethereum-icon-bg-color;
        }
        &__description {
          font-size: 1.3rem;
          font-weight: 700;
          margin: 15px auto;
          span {
            color: lighten($ethereum-icon-bg-color, 10%);
          }
        }
        &__advice {
          font-size: 1rem;
          color: $span-txt-color;
        }
      }
    }
  }
  // Cryptocurrencies section
  .cryptocurrencies-section {
    width: 100%;
    background-color: #fff;
    color: rgb(255, 255, 255);
    padding: 120px 0 50px;
    @include flexbox;
    text-align: center;

    &__title {
      font-size: 2.4rem;
      width: 80%;
      max-width: 500px;
      margin-bottom: 50px;
    }
    .cryptocurrencies-info-cards {
      width: 80%;
      max-width: 400px;
      @include flexbox($jtf: space-evenly);
      .info-card {
        width: 100%;
        max-width: 290px;
        @include flexbox;
        padding: 30px 0 15px;
        margin-bottom: 50px;
        border-radius: 20px;
        background-color: $background-color-box;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3), 1px -1px 2px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all 0.3s ease-in;

        &:hover {
          background-color: $background-color-box-sub;
          color: #fff;
          transform: scale(1.05);
          p {
            color: #fff;
          }
          embed {
            color: #fff;
          }
        }
        &:active {
          transform: scale(0.95);
          background-color: lighten(#800000, 10%);
        }
        .fab {
          font-size: 80px;
        }
        .fa-bitcoin {
          color: $bitcoin-icon-bg-color;
        }
        .fa-ethereum {
          color: #fff;
          padding: 10px 20px;
          font-size: 60px;
          border-radius: 50%;
          background-color: $ethereum-icon-bg-color;
        }

        &_icon {
          width: 100px;
          height: 100%;
        }

        &__title {
          width: 100%;
          font-size: 2rem;
          margin: 30px auto 20px;
          span {
            font-size: 1rem;
            font-weight: 400;
            color: $span-txt-color;
          }
        }
        &__description {
          font-size: 1.4rem;
          width: 70%;
          color: darken($span-txt-color, 20%);
        }
        &__btn {
          @include button;
          margin: 30px auto;
          i {
            margin-left: 10px;
            color: $btn-bg-color;
            background-color: #fff;
            border-radius: 50%;
            padding: 5px;
            width: 25px;
          }
        }
      }
    }
  }

  // Features section
  .features-section {
    width: 100%;
    // background options here
    padding: 50px 0;
    @include flexbox;
    text-align: center;

    &__title {
      font-size: 2.4rem;
      width: 80%;
      max-width: 400px;
      margin-bottom: 75px;
    }

    .invest-smart-article {
      width: 80%;
      @include flexbox;
      margin-bottom: 75px;
      &_stripe-container {
        flex-direction: column;
      }
      &_stripe-right {
        position: relative;
        flex-direction: row;
        align-self: center;
        align-items: flex-start;
        margin-right: -4000px;
        margin-left: 95px;
        // border-width: 0 0 100px 100px;
        height: 100%;
        border-bottom: 250px solid $background-color-box-sub;
        border-left: 90px solid transparent;
        height: 0px;
        width: 4000px;
      }

      &_stripe-right-1 {
        position: relative;
        flex-direction: row;
        align-self: center;
        align-items: flex-end;
        margin-top: 10px;
        margin-right: -3950px;
        width: 100%;
        // border-width: 0 0 100px 100px;
        height: 100%;
        border-bottom: 250px solid $background-color-box-sub;
        border-left: 90px solid transparent;
        height: 0px;
        width: 4000px;
      }

      &_stripe-left {
        position: relative;
        flex-direction: column;
        align-self: center;
        align-items: flex-end;
        margin-left: -4000px;
        margin-right: -700px;
        width: 100%;
        // border-width: 0 0 100px 100px;
        height: 100%;
        border-top: 500px solid $background-color-box;
        border-right: 170px solid transparent;
        height: 0px;
        width: 4000px;
      }

      &_bg {
        /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
        position: absolute;
        margin-right: 10px;
        height: 100px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 99;

        /* Pull the background 70px higher to the same place as #bg's */
        background-position: center -70px;

        -webkit-filter: blur(10px);
        filter: url("/media/blur.svg#blur");
        filter: blur(10px);
      }

      &_layer {
        max-width: 400px;
        /* Put this on top of the blurred layer */
        position: relative;
        align-items: center;
        z-index: 100;
        padding: 2px;
        background: $background-color-box-sub;
        // border: 2px solid rgba(255, 255, 255, 0.397);

        width: 350px;
        list-style-type: none;
        border-radius: 16px;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      &_layer-2 {
        max-width: 400px;
        /* Put this on top of the blurred layer */
        position: relative;
        align-items: center;
        z-index: 100;
        padding: 20px;
        background: $background-color-box;
        border: 2px solid rgb(0, 0, 0);
        width: 400px;
        list-style-type: none;
        border-radius: 16px;
        margin-right: -10px;
        margin-left: -3500px;
      }
      &_layer-container {
        margin: 5px;
      }
      &__content-container-left {
        margin-right: 5px;
        flex-direction: column;
        margin-left: 3650px;
        text-align: left;
        margin-top: -450px;
      }

      &__content-container-right {
        margin-right: 5px;
        flex-direction: column;
        margin-right: 3650px;
        text-align: left;
        margin-top: -450px;
      }

      &__content-container-images {
        margin-left: 5px;
        width: 200px;
        // flex-direction: column;
        // position: relative;
        // margin-left: 0px;
        // text-align: left;
        // margin-top: -450px;
      }
      &__content-container-right-1 {
        margin-right: 5px;
        flex-direction: column;
        margin-right: 3650px;
        text-align: left;
        margin-top: 80px;
      }

      &__content {
        width: 500px;
        margin-bottom: 50px;
        margin-left: 4000px;
        background: rgba(54, 54, 54, 0.75);
        @include flexbox;
        &__title {
          font-size: 2rem;
        }
        &__description {
          font-size: 1.4rem;
          width: 80%;
          margin: 25px auto;
        }
        &__btn {
          @include button;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }

      &__content-details {
        max-width: 900px;
        /* Put this on top of the blurred layer */
        position: relative;
        align-items: center;
        z-index: 100;
        padding: 2px;
        list-style-type: none;
        border-radius: 16px;
        height: 45px;
        margin-right: 10px;
        width: 400px;
        margin-bottom: 50px;
        @include flexbox;
        display: inline;
        flex-direction: row;
        &__title {
          font-size: 2rem;
        }
        &__description {
          font-size: 1.4rem;
          width: 250px;
          margin-left: 0px;
          // margin: 5px auto;
          span {
            font-size: 1.7rem;
            font-weight: 800;
            color: $emphasize-description-txt-color;
          }
        }
        &__btn {
          @include button;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }
      &__graphic {
        width: 100%;
      }
      &__pair-pic {
        width: 100px;
      }
      &__pool-pic {
        margin-left: -100px;
        width: 200px;
        img {
          width: 10px;
        }
      }
    }

    .detailed-stats-article {
      @extend .invest-smart-article;

      &_stripe-right {
        position: relative;
        flex-direction: column;
        align-self: center;
        align-items: flex-end;
        margin-right: -3700px;
        width: 100%;
        margin-left: -50px;
        // border-width: 0 0 100px 100px;
        height: 100%;
        border-top: 500px solid $background-color-box;
        border-left: 90px solid transparent;
        height: 0px;
        width: 4200px;
      }

      &_stripe-left {
        position: relative;
        flex-direction: column;
        align-self: center;
        align-items: flex-start;
        margin-left: -3800px;
        margin-right: -100px;
        // border-width: 0 0 100px 100px;

        border-bottom: 500px solid $background-color-box-sub;
        border-right: 90px solid transparent;
        height: 0px;
        width: 4300px;
      }

      &_layer {
        max-width: 400px;
        /* Put this on top of the blurred layer */
        position: relative;
        align-items: center;
        z-index: 100;
        padding: 2px;
        // background: $background-color-box-sub;
        // border: 2px solid rgba(255, 255, 255, 0.397);
        width: 100%;
        list-style-type: none;
        border-radius: 16px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 4000px;
        margin-top: 10px;
        height: 400px;
      }

      &_layer-2 {
        max-width: 400px;
        /* Put this on top of the blurred layer */
        position: relative;
        align-items: center;
        z-index: 100;
        margin-top: -400px;
        padding: 20px;
        // background: $background-color-box;
        // border: 2px solid rgb(0, 0, 0);
        width: 100%;
        list-style-type: none;
        border-radius: 16px;
        margin-right: 10px;
      }

      &__content {
        width: 100%;
        margin-bottom: 50px;
        @include flexbox;
        &__title {
          font-size: 2rem;
        }
        &__description {
          font-size: 1.4rem;
          width: 80%;
          margin: 25px auto;
        }
        &__btn {
          @include button;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }

      &__content-details {
        max-width: 900px;
        /* Put this on top of the blurred layer */
        position: relative;
        align-items: center;
        z-index: 100;
        padding: 2px;
        list-style-type: none;
        border-radius: 16px;
        height: 45px;
        margin-right: 100px;
        margin-left: -200px;
        width: 400px;
        margin-bottom: 10px;
        @include flexbox;
        display: inline;
        flex-direction: row;
        &__title {
          font-size: 2rem;
        }
        &__description {
          font-size: 1.4rem;
          width: 100%;
          margin: 5px auto;
          span {
            font-size: 1.7rem;
            font-weight: 800;
            color: $emphasize-description-txt-color;
          }
        }
        &__btn {
          @include button;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }

      &__graphic {
        width: 100%;
        align-self: center;
      }
    }

    .grow-profit-article {
      @extend .detailed-stats-article;


      &_stripe-right {
        position: relative;
        flex-direction: column;
        align-self: center;
        align-items: flex-end;
        margin-right: -3700px;
        width: 100%;
        margin-left: -50px;
        // border-width: 0 0 100px 100px;
        height: 100%;
        border-bottom: 500px solid $background-color-box-sub;
        border-left: 90px solid transparent;
        height: 0px;
        width: 4200px;
      }

      &_stripe-left {
        position: relative;
        flex-direction: column;
        align-self: center;
        align-items: flex-start;
        margin-left: -3800px;
        margin-right: -100px;
        // border-width: 0 0 100px 100px;

        border-top: 500px solid $background-color-box;
        border-right: 90px solid transparent;
        height: 0px;
        width: 4300px;
      }


      &_layer {
        max-width: 400px;
        /* Put this on top of the blurred layer */
        position: relative;
        align-items: center;
        z-index: 100;
        padding: 2px;
        // background: $background-color-box-sub;
        // border: 2px solid rgba(255, 255, 255, 0.397);
        width: 100%;
        list-style-type: none;
        border-radius: 16px;
        margin-right: 10px;
        margin-bottom: 10px;
        // height: 400px;
      }

      &_layer-2 {
        max-width: 400px;
        /* Put this on top of the blurred layer */
        position: relative;
        align-items: center;
        z-index: 100;
        padding: 20px;
        // background: $background-color-box;
        // border: 2px solid rgb(0, 0, 0);
        width: 100%;
        list-style-type: none;
        border-radius: 16px;
        margin-right: 10px;
      }

      &__content {
        align-items: flex-start;
        flex-direction: column;
        // width: 100%;
        margin-bottom: 50px;  
        margin-top: -450px;
        margin-left: 4000px;
        height: 400px;
        margin-right: 10px;
        // @include flexbox;
        &__title {
          font-size: 2rem;
        }
        &__description {
          font-size: 1.4rem;
          width: 80%;
          margin: 25px auto;
        }
        &__btn {
          @include button;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }

      &__content-details {
        max-width: 900px;
        /* Put this on top of the blurred layer */
        position: relative;
        align-items: center;
        z-index: 100;
        padding: 2px;
        list-style-type: none;
        border-radius: 16px;
        height: 45px;
        margin-right: 10px;
        width: 400px;
        margin-bottom: 10px;
        @include flexbox;
        display: inline;
        flex-direction: row;
        &__title {
          font-size: 2rem;
        }
        &__description {
          font-size: 1.4rem;
          width: 100%;
          margin: 5px auto;
          span {
            font-size: 1.7rem;
            font-weight: 800;
            color: $emphasize-description-txt-color;
          }
        }
        &__btn {
          @include button;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }
      &__graphic {
        margin-top: 3px;
        width: 95%;
        border-radius: 34px;
        // transform: scale(1.25)
      }
    }
  }
}
