// -------- Variables -------------

$body-bg-color: linear-gradient(#4c0505 50%, #000000);
$btn-bg-color: #d10404;
$span-txt-color: #4b0000;
$emphasize-txt-color: #bd0000;
$description-txt-color: #e0e0e0;
$emphasize-description-txt-color: #d60101;
$background-color-box: rgba(54, 54, 54, 0.75);
$background-color-box-sub:  rgba(167, 0, 0, 0.25);
$transparent-box-color: rgb(34, 34, 34);

// Why us section
$why-us-icon-color: #860505;
$why-us-icon-bg-color: #3c308a;

// Cryptocurrencies section
$bitcoin-icon-bg-color: #f9aa4b;
$ethereum-icon-bg-color: #810505;

// Features section
$features-section-bg-color: linear-gradient(180deg, #660707, #000000);

// CTA section
$cta-section-card-bg-color: #860505;

// Footer
$footer-bg-color: #300000;
$footer-icon-color: #eeeeee;
