// -------- Variables -------------

$body-bg-color: linear-gradient(#4c0505 50%, #000000);
$btn-bg-color: #d10404;
$span-txt-color: #4b0000;
$emphasize-txt-color: #1d0000;
// Why us section
$why-us-icon-color: #860505;
$why-us-icon-bg-color: #3c308a;

// Cryptocurrencies section
$bitcoin-icon-bg-color: #f9aa4b;
$ethereum-icon-bg-color: #810505;

// Features section
$features-section-bg-color: linear-gradient(180deg, #660707, #000000);

// CTA section
$cta-section-card-bg-color: #860505;

// Footer
$footer-bg-color: #300000;
$footer-icon-color: #eeeeee;