// -------- Variables -------------

$background-color: rgba(0, 0, 0, 0.6);
$background-color-bright: rgba(129, 129, 129, 0.6);
$background-color-header: rgba(0, 0, 0, 0.5);


$body-bg-color: linear-gradient(#4c0505 50%, #000000);
$btn-bg-color: #d10404;
$span-txt-color: #4b0000;
$emphasize-txt-color: #bd0000;
$description-txt-color: #e0e0e0;
$text-dark: #000000;
$text-bright: #e0e0e0;
$emphasize-description-txt-color: #d60101;

$background-color-box: rgba(0, 0, 0, 0.75);
$background-color-box-sub: rgba(0, 0, 0, 0.5);
$transparent-box-color: rgb(34, 34, 34);
$transparent-box-with-image: rgba(124, 124, 124, 0.5);

$card-color: rgba(90, 90, 90, 0.315);
$card-color-hover: rgba(0, 0, 0, 0.5);
$card-color-active: rgba(0, 0, 0, 0.8);

$card-text-color: rgb(228, 228, 228);

// Why us section
$why-us-icon-color: #860505;
$why-us-icon-bg-color: #3c308a;

// Cryptocurrencies section
$bitcoin-icon-bg-color: #f9aa4b;
$ethereum-icon-bg-color: #810505;

// Features section
$features-section-bg-color: linear-gradient(180deg, #660707, #000000);

// CTA section
$cta-section-card-bg-color: #860505;

// Footer
$footer-bg-color: #300000;
$footer-icon-color: #eeeeee;
